# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python build artifacts
dist/
build/
*.egg-info/
__pycache__/
*.pyc
*.pyo
.eggs/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Local
*.log
